<footer class="footer">
    <div class="container">
        <nav>
          <div class="row">
            <div class="span2">
                <ul>
                    <li class="footer-head-list-item"> About </li>
                    <li> <%= link_to "Mission", '#' %></li>
                    <li> <%= link_to "Team", '#' %></li>
                    <li> <%= link_to "Centres", '#' %></li>
                    <li> <%= link_to "Schools", '#' %></li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="footer-head-list-item"> Help </li>
                    <li> <%= link_to "FAQ", '#' %></li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="footer-head-list-item"> Career </li>
                    <li> <%= link_to "Full Time", '#' %></li>
                    <li> <%= link_to "Part Time", '#' %></li>
                    <li> <%= link_to "Internship", '#' %></li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="footer-head-list-item"> Social </li>
                    <li> <%= link_to "Facebook", '#' %></li>
                    <li> <%= link_to "Twitter", '#' %></li>
                    <li> <%= link_to "Blog", '#' %></li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="footer-head-list-item"> Contact Us</li>
                    <li> <%= link_to "Contact", '#' %></li>
                    <li> <%= link_to "Press", '#' %></li>
                </ul>
            </div>
          </div>
        </nav>
    </div>

    <div class="container">
        <nav class="sub-footer">
            <div class="span3 offset1">
                <small>
                    <a href="http://www.zugzwang.in"> © ZugZwang Chess School </a>
                </small>
            </div>

            <div class="span2">
                <ul>
                    <li> <%= link_to "Terms of Use", '#' %></li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li> <%= link_to "Privacy Policy", '#' %></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>