<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li> <%= link_to "Home", '#' %></li>
          <li> <%= link_to "Dash", '#' %></li>
          <li> <%= link_to "Blog", '#' %></li>
        </ul>
      </nav>

      <nav>
        <ul class="nav pull-right">
          <li> <%= link_to "Chezzles", '#', id: "logo" %> </li>
          <li> <%= link_to "Log In", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
